<!DOCTYPE html>
<html>
  <head>
    <title>Dropdown</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div data-behavior="vue">
      <%= render partial: "shared/navbar" %>

      <div class="container mx-auto mt-6">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
